*{
  box-sizing: border-box;
  color: white;
}
body{
  animation: opacity-fade 1s ease-in-out, push-up 1s ease-in-out;
  color: $blue-s1;
  position: relative;
}
.feature{
  background-image: url('img/get-budding-72798.jpg');
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  position: relative;
  padding-bottom: 2em;
}

.feature::after{
  content:'';
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  linear-gradient: $purple-t2 0, $purple 100%;
  opacity:0.7;
  z-index:1;
  animation: opacity-fade--campaign 2s ease-in-out;
}

.feature__overlay{
  position:relative;
  z-index:2;
}
.feature__logo{
  width: 100%;
  max-width: 15rem;
  display:block;
  margin:0 auto 0;
  padding: 2rem;
  @media #{$tablet}{
    &{
      margin-left: 0;
      margin-right: 2rem;
    }
  }
}
.feature__headline{
  color: white;
  text-align: center;
  margin-bottom: 1em;
  font-family: $serif;
  @media #{$tablet}{&{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 0.5em;
  }}
}
.feature__tagline{
  padding:0.5em;
  color: $blue;
  background-color:transparentize(white, .2);
  position:relative;
  text-align: center;
  max-width: 45rem;
  margin: 0 auto 3em;
}
/*.feature__tagline:before,.feature__tagline:after{
  content:'';
  border:1em solid transparentize(white, .2);
  position:absolute;
  top:0;
}
.feature__tagline:before{
  left:-2em;
  top: -1px;
  border-top-color: transparent;
  border-left-color:transparent;
}
.feature__tagline:after{
  right:-2em;
  top:.5px;
  border-bottom-color: transparent;
  border-right-color: transparent;
  overflow: visible;
}*/
.feature__about{
  max-width: 50rem;
  padding: 0 1em;
  margin: 1em auto 0;
}
section.email{
  background-image: url('img/pattern.png');
  background-color: $blue-s1;
  padding: 2em 1em;
  color: white;
}

section.email > *{
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}
.email input{
  margin-top:0.5em;
  color: $grey;
}
.email label{
  margin-top: 1em;
  display:block;
}
.email p{
  margin: 1.5em auto 1.5em;
}

.email__optional{
  text-transform: uppercase;
  color: white;
  background-color: $blue;
  font-size: 0.75em;
  padding: 0.25em 0.5em;
  border-radius:4px;
  margin-left: 1em;
}
input.button{
  position:relative;
  background-color: $blue;
  color: white;
  margin-top:1em;
  margin-bottom: 2em;
  top: 5px;
  transition: box-shadow 0.25s ease-out, top 0.25s ease-out;
}
input.button:hover{
  box-shadow: 0px 5px 15px $grey;
  top: 0;
}
footer{
  padding: 1em;
  background-color: $grey;
}
.social-icons{
  padding: 1em 0;
}
.social-icons a{
  font-size: 2em;
  text-align: center;
  text-decoration: none;
  margin: 0 0.5em;
  transition: color 0.25s ease-in-out;
}
.social-icons a:first-child {
  margin-left:0;
}
.social-icons a:hover{
  color: $green;
}

@keyframes opacity-fade{
  0%{opacity:0;}
  100%{opacity:1;}
}
@keyframes opacity-fade--campaign{
  0%{opacity: 0;}
  100%{opacity: 0.7}
}
@keyframes push-up{
  0%{top:-10px}
  100%{top:0;}
}
