!!!
%head
  %title Tetragram
  %link(rel="stylesheet" href="style.css" type="text/css")
%body
  %section.feature
    .feature__overlay

      %h1.feature__headline
        %img.feature__logo(src="media/tetragramglyph.png")
        Tetragram
      %h3.feature__tagline The secret ingredient for small dispenseries.
      %p.feature__about We combine intelligent, human point of sale software with detailed and rigorous compliance reporting to take the guesswork out of running a dispensary.
      %p.feature__about We're currently in research and planning and will be in alpha by early 2018.
  %section.email
    %h2 Sign up for Email Updates
    %p We don't sell email addresses. We send emails infrequently.
    #mc_embed_signup
      %form(action="//ttragram.us16.list-manage.com/subscribe/post?u=7bc1fe88520458fcb25ea043b&amp;id=54fb80b5df" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate)
        #mc_embed_signup_scroll
          .mc-field-group
            %label(for="mce-EMAIL")
              Email Address
              %span.asterisk *
            %input(type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL")
          .mc-field-group
            %label(for="mce-FNAME")
              First Name
              %span.email__optional Optional
            %input(type="text" value="" name="FNAME" class="" id="mce-FNAME")
          .mc-field-group
            %label(for="mce-LNAME")
              Last Name
              %span.email__optional Optional
            %input(type="text" value="" name="LNAME" class="" id="mce-LNAME")
          #mce-responses
            .response#mce-error-response(style="display:none")
            .response#mce-success-response(style="display:none")
          %div(style="position: absolute; left: -5000px;" aria-hidden="true")
            %input(type="text" name="b_7bc1fe88520458fcb25ea043b_54fb80b5df" tabindex="-1" value="")
          .clear
            %input(type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button")
          %script(type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js')
          :javascript
            (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);)
  %footer
    &copy; 2017 Interactive Merchant Services. All rights reserved.
    .social-icons
      %a.icon-social-instagram(href="https://www.instagram.com/ttragram/")
      %a.icon-social-facebook(href="https://www.facebook.com/ttragram")
      %a.icon-social-twitter(href="https://twitter.com/ttragram/")
  :javascript
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-102656117-1', 'auto');
    ga('send', 'pageview');
